<% uri = URI('http://ip-api.com/xml/')
String @country = Net::HTTP.get(uri).scan(/<country>(.*)<\/country>/).to_s[12...-6]
-%>
<h1>Welcome, stranger from <%=@country%></h1>
<%= link_to 'My Blog', controller: 'articles' %>






<div class="row">


    <!-- Line Chart - Single Series -->


</div>
