<header class="intro-header" style="background-image: url('https://blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>My Blog</h1>
                    <hr class="small">
                    <span class="subheading">A Blog About Nothing in Particular</span>
                </div>
            </div>
        </div>
    </div>
</header>





<div class="row">
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
  function geoTest() {

      if (google.loader.ClientLocation) {

          var city = google.loader.ClientLocation.address.city;
          var country = google.loader.ClientLocation.address.country;

          var text = '<center><h2>Hello stranger from ' + city + ', ' + country+'</h2></center>';


      } else {

          var text = 'Google was not able to detect your location';

      }

      document.write(text);
  }

  geoTest();
  </script>


  <%
  #@country=geoTest();
  Visit.create  country: @country, visited_at: DateTime.now, load_time: 1
  -%>
  <center><h1>Welcome to <%= link_to 'My Blog', controller: 'articles' %><h1><center>
      <center><h3>Here, have some statistics<h3><center>

  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <%= line_chart @visits.group_by_day(:visited_at, format: "%d.%m.%Y").count, discrete: true %>
  </div>

  <!-- Geo Chart -->
  <div class="col-xs-6">
    <%= geo_chart @visits.group(:country).count %>
  </div>

</div>
