<header class="intro-header" style="background-image: url('https://blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>My Blog</h1>
                    <hr class="small">
                    <span class="subheading">A Blog About Nothing in Particular</span>
                </div>
            </div>
        </div>
    </div>
</header>





<body>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
function geoTest() {

    if (google.loader.ClientLocation) {

        var latitude = google.loader.ClientLocation.latitude;
        var longitude = google.loader.ClientLocation.longitude;
        var city = google.loader.ClientLocation.address.city;
        var country = google.loader.ClientLocation.address.country;
        var country_code = google.loader.ClientLocation.address.country_code;
        var region = google.loader.ClientLocation.address.region;

        var text = 'Your Location<br /><br />Latitude: ' + latitude + '<br />Longitude: ' + longitude + '<br />City: ' + city + '<br />Country: ' + country + '<br />Country Code: ' + country_code + '<br />Region: ' + region;

    } else {

        var text = 'Google was not able to detect your location';

    }

    document.write(text);
}

geoTest();
</script>



<div class="row">
<% uri = URI('http://ip-api.com/xml/')
String @country = Net::HTTP.get(uri).scan(/<country>(.*)<\/country>/).to_s[12...-6]
Visit.create  country: @country, visited_at: DateTime.now, load_time: 1
-%>
<center><h2>Hello stranger from <%=@country%>!</h2><center>
  <center><h1>Welcome to <%= link_to 'My Blog', controller: 'articles' %><h1><center>
      <center><h3>Here, have some statistics<h3><center>

  <!-- Line Chart - Single Series -->
  <div class="col-xs-6">
    <%= line_chart @visits.group_by_day(:visited_at, format: "%d.%m.%Y").count, discrete: true %>
  </div>

  <!-- Geo Chart -->
  <div class="col-xs-6">
    <%= geo_chart @visits.group(:country).count %>
  </div>

</div>
